Import Libraries

In [ ]:
import numpy as np
import pandas as pd
import requests
!pip install xlsxwriter
import xlsxwriter
import math

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.7/dist-packages (3.0.3)

In [ ]:
import pandas as pd
wiki_data=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies') # Open the link and download S&P company details in a table
data = wiki_data[0] # All data is stored in first cell
display(data.head()) # print to check data downloaded
# drop columns 'SEC filings' Since we are dropping columns we have axis = 1 and inplace = True as we are removing these columns in original dataframe
data.drop(['SEC filings'], axis=1, inplace=True)
sorted_data = data.sort_values(by=['Symbol'], ascending=True) # Sort the dataframe on ticker in alphabetical ascending order
# Convert the dataframe to csv file
sorted_data.to_csv('S&P500Tickers.csv', mode='w', index=False) #index is False as we don't want to write index in csv file

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981

Import List of Stocks(500)

In [ ]:
stocks = pd.read_csv('S&P500Tickers.csv')
stocks

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,A,Agilent Technologies,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872,1999
1,AAL,American Airlines Group,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,1934
2,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",2015-07-09,1158449,1932
3,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982-11-30,320193,1977
4,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

Acquiring an API token

In [ ]:
IEX_CLOUD_API_TOKEN = 'Tpk_059b97af715d417d9f49f50b51b1c448'

symbol = 'GOOGL'
apiurl = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
print(apiurl)

data = requests.get(apiurl).json()

https://sandbox.iexapis.com/stable/stock/GOOGL/quote/?token=Tpk_059b97af715d417d9f49f50b51b1c448

In [ ]:
price =  data['latestPrice']
print(price)
marketcap = data['marketCap']
print(marketcap/1000000000000) # divided by  1 trillion

2216.9
1.517893638237

In [ ]:
status=[]
for i in stocks['Symbol']:
  symbol = f'{i}'
  apiurl = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
  data = requests.get(apiurl)
  status.append(data.status_code)

status

[200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200]

In [ ]:
columns = ['Ticker','Stock Price','Market Cap','Number of Shares to Buy']

In [ ]:
table=pd.DataFrame([[0,0,0,0]],columns=columns)
table

   Ticker  Stock Price  Market Cap  Number of Shares to Buy
0       0            0           0                        0

In [ ]:

table.append(pd.Series([symbol,price,marketcap,'n/a'],index= ['Ticker','Stock Price','Market Cap','Number of Shares to Buy'] ),ignore_index=True)

tablefinal = pd.DataFrame(columns=['Ticker','Stock Price','Market Cap','Number of Shares to Buy'] ) 


for stock in stocks['Symbol']:
    import json
    import requests
    apiurl = f'https://sandbox.iexapis.com/stable/stock/{stock}/quote/?token={IEX_CLOUD_API_TOKEN}'
    import requests
    data = requests.get(apiurl).json()
    
    tablefinal= tablefinal.append(pd.Series([stock,data['latestPrice'],data['marketCap'],'N/A'],index=['Ticker','Stock Price','Market Cap','Number of Shares to Buy']),ignore_index=True)

tablefinal

    Ticker  Stock Price     Market Cap Number of Shares to Buy
0        A      120.440    35833775736                     N/A
1      AAL       13.070     8320318535                     N/A
2      AAP      173.390    10710806611                     N/A
3     AAPL      137.191  2230129255494                     N/A
4     ABBV      155.880   276026874163                     N/A
..     ...          ...            ...                     ...
498    YUM      114.170    33116366973                     N/A
499    ZBH      105.400    22164191970                     N/A
500   ZBRA      304.480    15811917030                     N/A
501   ZION       53.190     7776475136                     N/A
502    ZTS      173.070    81385281175                     N/A

[503 rows x 4 columns]

Alternative / More Efficient

In [ ]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [ ]:
symbgroups = list(chunks(stocks['Symbol'],100 ))
symbgroups
symbstrings=[]
for i in range(0,len(symbgroups)):
    symbstrings.append(','.join(symbgroups[i]))

tablefinall = pd.DataFrame(columns= ['Ticker','Stock Price','Market Cap','Number of Shares to Buy'])


for symbstring in symbstrings:
    batchapicallurl = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbstring}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    print(batchapicallurl)
    data= requests.get(batchapicallurl).json()
    for symbol in symbstring.split(','):
        tablefinall =tablefinall.append(
            pd.Series(
            [
                 symbol,
                 data[symbol]['quote']['latestPrice'],
                 data[symbol]['quote']['marketCap'],
                 'na'
            ],
            index= columns),
            ignore_index=True
         )

tablefinall

https://sandbox.iexapis.com/stable/stock/market/batch?symbols=A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,ADSK,AEE,AEP,AES,AFL,AIG,AIZ,AJG,AKAM,ALB,ALGN,ALK,ALL,ALLE,AMAT,AMCR,AMD,AME,AMGN,AMP,AMT,AMZN,ANET,ANSS,AON,AOS,APA,APD,APH,APTV,ARE,ATO,ATVI,AVB,AVGO,AVY,AWK,AXP,AZO,BA,BAC,BALL,BAX,BBWI,BBY,BDX,BEN,BF.B,BIIB,BIO,BK,BKNG,BKR,BLK,BMY,BR,BRK.B,BRO,BSX,BWA,BXP,C,CAG,CAH,CARR,CAT,CB,CBOE,CBRE,CCI,CCL,CDAY,CDNS,CDW,CE,CEG,CF,CFG,CHD,CHRW,CHTR,CI,CINF,CL,CLX,CMA,CMCSA&types=quote&token=Tpk_059b97af715d417d9f49f50b51b1c448
https://sandbox.iexapis.com/stable/stock/market/batch?symbols=CME,CMG,CMI,CMS,CNC,CNP,COF,COO,COP,COST,CPB,CPRT,CPT,CRL,CRM,CSCO,CSX,CTAS,CTLT,CTRA,CTSH,CTVA,CTXS,CVS,CVX,CZR,D,DAL,DD,DE,DFS,DG,DGX,DHI,DHR,DIS,DISH,DLR,DLTR,DOV,DOW,DPZ,DRE,DRI,DTE,DUK,DVA,DVN,DXC,DXCM,EA,EBAY,ECL,ED,EFX,EIX,EL,ELV,EMN,EMR,ENPH,EOG,EPAM,EQIX,EQR,ES,ESS,ETN,ETR,ETSY,EVRG,EW,EXC,EXPD,EXPE,EXR,F,FANG,FAST,FBHS,FCX,FDS,FDX,FE,FFIV,FIS,FISV,FITB,FLT,FMC,FOX,FOXA,FRC,FRT,FTNT,FTV,GD,GE,GILD,GIS&types=quote&token=Tpk_059b97af715d417d9f49f50b51b1c448
https://sandbox.iexapis.com/stable/stock/market/batch?symbols=GL,GLW,GM,GNRC,GOOG,GOOGL,GPC,GPN,GRMN,GS,GWW,HAL,HAS,HBAN,HCA,HD,HES,HIG,HII,HLT,HOLX,HON,HPE,HPQ,HRL,HSIC,HST,HSY,HUM,HWM,IBM,ICE,IDXX,IEX,IFF,ILMN,INCY,INTC,INTU,IP,IPG,IQV,IR,IRM,ISRG,IT,ITW,IVZ,J,JBHT,JCI,JKHY,JNJ,JNPR,JPM,K,KDP,KEY,KEYS,KHC,KIM,KLAC,KMB,KMI,KMX,KO,KR,L,LDOS,LEN,LH,LHX,LIN,LKQ,LLY,LMT,LNC,LNT,LOW,LRCX,LUMN,LUV,LVS,LW,LYB,LYV,MA,MAA,MAR,MAS,MCD,MCHP,MCK,MCO,MDLZ,MDT,MET,META,MGM,MHK&types=quote&token=Tpk_059b97af715d417d9f49f50b51b1c448
https://sandbox.iexapis.com/stable/stock/market/batch?symbols=MKC,MKTX,MLM,MMC,MMM,MNST,MO,MOH,MOS,MPC,MPWR,MRK,MRNA,MRO,MS,MSCI,MSFT,MSI,MTB,MTCH,MTD,MU,NCLH,NDAQ,NDSN,NEE,NEM,NFLX,NI,NKE,NLOK,NLSN,NOC,NOW,NRG,NSC,NTAP,NTRS,NUE,NVDA,NVR,NWL,NWS,NWSA,NXPI,O,ODFL,OGN,OKE,OMC,ON,ORCL,ORLY,OTIS,OXY,PARA,PAYC,PAYX,PCAR,PEAK,PEG,PENN,PEP,PFE,PFG,PG,PGR,PH,PHM,PKG,PKI,PLD,PM,PNC,PNR,PNW,POOL,PPG,PPL,PRU,PSA,PSX,PTC,PVH,PWR,PXD,PYPL,QCOM,QRVO,RCL,RE,REG,REGN,RF,RHI,RJF,RL,RMD,ROK,ROL&types=quote&token=Tpk_059b97af715d417d9f49f50b51b1c448
https://sandbox.iexapis.com/stable/stock/market/batch?symbols=ROP,ROST,RSG,RTX,SBAC,SBNY,SBUX,SCHW,SEDG,SEE,SHW,SIVB,SJM,SLB,SNA,SNPS,SO,SPG,SPGI,SRE,STE,STT,STX,STZ,SWK,SWKS,SYF,SYK,SYY,T,TAP,TDG,TDY,TECH,TEL,TER,TFC,TFX,TGT,TJX,TMO,TMUS,TPR,TRMB,TROW,TRV,TSCO,TSLA,TSN,TT,TTWO,TWTR,TXN,TXT,TYL,UAL,UDR,UHS,ULTA,UNH,UNP,UPS,URI,USB,V,VFC,VICI,VLO,VMC,VNO,VRSK,VRSN,VRTX,VTR,VTRS,VZ,WAB,WAT,WBA,WBD,WDC,WEC,WELL,WFC,WHR,WM,WMB,WMT,WRB,WRK,WST,WTW,WY,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH&types=quote&token=Tpk_059b97af715d417d9f49f50b51b1c448
https://sandbox.iexapis.com/stable/stock/market/batch?symbols=ZBRA,ZION,ZTS&types=quote&token=Tpk_059b97af715d417d9f49f50b51b1c448

    Ticker  Stock Price     Market Cap Number of Shares to Buy
0        A      123.270    36774293763                      na
1      AAL       12.770     8266037157                      na
2      AAP      174.510    10938643445                      na
3     AAPL      142.213  2227587704215                      na
4     ABBV      158.980   278153037938                      na
..     ...          ...            ...                     ...
498    YUM      114.840    32555037314                      na
499    ZBH      109.730    22715212715                      na
500   ZBRA      295.630    15555862605                      na
501   ZION       51.740     7961865106                      na
502    ZTS      173.440    84939705281                      na

[503 rows x 4 columns]

In [ ]:
#calculating the number of shares


portfoliosize = input('Investment in the Portfolio(in USD):')


try:
  value = float(portfoliosize)
  print(value)
except: 
  print('invalid input. Please enter a valid number.')
  portfoliosize = input('Investment in the Portfolio:')

Investment in the Portfolio(in USD):10000000
10000000.0

In [ ]:
portfoliosize

'10000000'

In [ ]:
investmentineachstock = value/len(tablefinall.index)
investmentineachstock

19880.715705765408

In [ ]:
for i in tablefinall['Ticker']:
  tablefinall['Number of Shares to Buy']= investmentineachstock/tablefinall['Stock Price']
  tablefinall['Number of Shares to Buy'] = tablefinall['Number of Shares to Buy'].astype('int')
tablefinall

    Ticker  Stock Price     Market Cap  Number of Shares to Buy
0        A      123.270    36774293763                      161
1      AAL       12.770     8266037157                     1556
2      AAP      174.510    10938643445                      113
3     AAPL      142.213  2227587704215                      139
4     ABBV      158.980   278153037938                      125
..     ...          ...            ...                      ...
498    YUM      114.840    32555037314                      173
499    ZBH      109.730    22715212715                      181
500   ZBRA      295.630    15555862605                       67
501   ZION       51.740     7961865106                      384
502    ZTS      173.440    84939705281                      114

[503 rows x 4 columns]

In [ ]:
w= pd.ExcelWriter('SP500 recommended buys.xlsx', engine = 'xlsxwriter')
tablefinall.to_excel(w,'Recommended Trades',index= False)

In [ ]:
bgcolor = '#0a029'
fontclr = '#ffffff'

stringformat = w.book.add_format(
    { 'font_color':fontclr,
      'bg_color':bgcolor,
      'border': 1} )
dollarformat = w.book.add_format(
    { 'num_format': '$0.00',
      'font_color':fontclr,
      'bg_color':bgcolor,
      'border': 1})
integerformat = w.book.add_format(
    { 'num_format': '0',
      'font_color':fontclr,
      'bg_color':bgcolor,
      'border': 1})

In [ ]:
#Apply formats to our file\

#w.sheets['Recommended Trades'].write('A1', 'Ticker', stringformat)
#w.sheets['Recommended Trades'].write('B1', 'Stock Price', dollarformat)
#w.sheets['Recommended Trades'].write('C1', 'Market Capitalizatiom', dollarformat)
#w.sheets['Recommended Trades'].write('D1', 'Number of Shares to Buy', integerformat)
#w.save()

In [ ]:
from os import getcwd
getcwd()

'/content'

In [ ]:
columnformatloop = {

   'A': ['Ticker',stringformat],
   'B': ['Stock Price',dollarformat],
   'C': ['Market Capitalization',dollarformat],
   'D': ['Number of Shares to Buy',integerformat]


}


for col in columnformatloop.keys():
  w.sheets['Recommended Trades'].set_column(f'{col}:{col}', 18, columnformatloop[col][1])
  w.sheets['Recommended Trades'].write(f'{col}1',columnformatloop[col][0],columnformatloop[col][1])

In [ ]:
w.save()